@using Microsoft.AspNetCore.Identity
@using MvcBlogHomeIdentity.Areas.Identity.Data
@model HomeIndexVM
@{
    ViewData["Title"] = "Home Page";
}

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<form>
    <div class="bg-warning">
        <h1 class="display-3">Always Search</h1>
        <br />
        <br />
        <h1 class="display-6">Discover stories, thinking, and expertise from writers on any topic.</h1>
        <br />
    </div>
</form>
<div class="container">
    <ul class="navbar-nav flex-grow-1">
        <br />
        <br />
        <p style="text-align:left; padding-right:150px; font-weight:bold; font-size:20px">
            <a style="color:black">Top Trends</a>
            <div class="row">
                @foreach (var item in Model.Articles)
                {
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                @if (item.Context.Length >= 200)
                                {
                                    <p class="card-text">@item.Context.Substring(0, 200) ...</p>

                                }
                                else
                                {
                                    <p class="card-text">@item.Context</p>
                                }
                                <p class="card-text" style="color:grey">Like : @item.Like</p>
                                <p class="card-text" style="color:grey">Create Time : @item.CreateTime.ToString("yyyy-MM-dd")</p>
                                <a asp-controller="Articles" asp-action="Read" asp-route-id="@item.Id" class="btn btn-warning">Read Article</a>
                            </div>
                        </div>
                        <br />
                    </div>
                    <br/>
                }
            </div>
        </p>
    </ul>
</div>

    
