@model WriterIndexVM
@{
    ViewData["Title"] = "Writers Page";
}
<h1>Writers</h1>
<br />
<br />
<form asp-action="Search" method="post">
    <div class="form-group">
        @*<label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" type="search" placeholder="Search" aria-label="Search">
        <td>@(Html.ValidationMessageFor(p => p.Name))</td>
        <<div class="form-group">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>*@
    </div>
    <table class="table">
        <thead>
            <br />
            <br />
            <tr>
                <th>Photo</th>
                <th>Name</th>
                <th>UserName</th>
                <th>Transactions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Writers != null)
            {
                @foreach (var item in Model.Writers)
                {
                    <tr>
                        @if (item.PhotoPath != null)
                        {
                            <td><img class="rounded" src="@item.PhotoPath" alt="photo" width="70" height="70" /></td>
                        }
                        else
                        {
                            <td><img class="rounded" src="/image/default.jpeg" alt="default" width="70" height="70" /></td>
                        }
                        <td>@Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)</td>
                        <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                        <td>
                            <a asp-action="Profile" asp-route-id="@item.Id" class="btn btn-outline-warning">Go To Profile </a>
                        </td>
                    </tr>
                }
            }
            else if (Model.Writers == null)
            {
                <td><img class="rounded" src="" width="70" height="70" /></td>
                <td></td>
                <td></td>
            }
        </tbody>
    </table>
</form>
    
    





