@using Microsoft.AspNetCore.Identity
@using MvcBlogHomeIdentity.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@model WriterProfileVM
@{
    ViewData["Title"] = "Writers Profile";
}
<form>
    <input asp-for="Id" hidden />
    <div class="container bg-warning bg-opacity-10">
        <br />
        <h1>@Model.FirstName's Profile</h1>
        <br />
        <br />
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="card" style="width: 18rem;">
                    @if (Model.PhotoPath!=null)
                    {
                        <td><img class="img-thumbnail" style="border-color:white" src="/image/@Model.PhotoPath" alt="photo"/></td>
                    }
                    else
                    {
                        <td><img class="img-thumbnail top-50" style="border-color:white" src="/image/default.jpeg" alt="default"/></td>
                    }
                    <div class="card-body">
                        @if(Model.Description!=null)
                        {
                            <h5 class="card-title">Description</h5>
                            <p class="card-text">@Model.Description</p>
                        }
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name : @Model.FirstName @Model.LastName</li>
                        <li class="list-group-item">UserName : @Model.UserName</li>
                        @if (Model.PhoneNumber != null)
                        {
                            <li class="list-group-item">PhoneNumber : @Model.PhoneNumber</li>
                        }
                        @if (SignInManager.UserManager.GetUserId(User) == Model.Id)
                        {
                            <a asp-controller="Articles" asp-action="Write" asp-route-id="@SignInManager.UserManager.GetUserId(User)" class="btn btn-outline-warning">Write Articles</a>
                            <a asp-controller="Writers" asp-action="Category" asp-route-id="@SignInManager.UserManager.GetUserId(User)" class="btn btn-outline-warning">Choose Your Category</a>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                    @foreach (var item in Model.Articles)
                    {
                        <div class="card border mb-2">
                            <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    @if (item.Context.Length >= 200)
                                    {
                                        <p class="card-text">@item.Context.Substring(0, 200) ...</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">@item.Context</p>
                                    }
                                    <p class="card-text" style="color:dimgray">Like: @item.Like</p>
                                    <p class="card-text" style="color:dimgray">Create Time: @item.CreateTime.ToString("yyyy-MM-dd")</p>
                                    <a asp-controller="Articles" asp-action="Read" asp-route-id="@item.Id" class="btn btn-warning">Go To Article</a>
                                    &nbsp;
                                    @if (SignInManager.UserManager.GetUserId(User) == Model.Id)
                                    {
                                        <a asp-controller="Articles" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-warning">Delete Article</a>
                                    }
                                    <br />
                                    <br>
                                    
                            </div>
                        </div>
                    }
            </div>
        </div>
        <br />
    </div> 
</form>
<br />
<br />
<br />
<br />

<br />
    