@model WriterProfileVM
@{
    ViewData["Title"] = "Writers Profile";
}
<form>
    <input asp-for="Id" hidden />
    <div class="container bg-danger bg-opacity-10">
        <h1>Profile</h1>
        <div class="row">
            <div class="col-md-3">
            @if (Model.PhotoPath!=null)
                {
                    <td><img src=@Model.PhotoPath alt="photo" width="70" height="70" /></td>
                }
                else
                {
                    <td><img src="/image/default.jpeg" alt="default" width="150" height="150" /></td>
                }
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Name : @Model.FirstName @Model.LastName</h4>
                    </div>
                    <div class="col-md-12">
                        <h4>UserName : @Model.UserName</h4>
                    </div>
                    @foreach (var item in Model.Articles)
                    {
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    @if (item.Context.Length >= 200)
                                    {
                                        <p class="card-text">@item.Context.Substring(0, 200) ...</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">@item.Context</p>
                                    }
                                    <a href="" class="btn btn-warning">Go To Article</a>
                                </div>
                            </div>
                            <br />
                        </div>
                        <br />
                    }
                    
                </div>
            </div>
        </div>
    </div> 
</form>
    